@import url('https://fonts.googleapis.com/css?family=Arima+Madurai');

@import url('https://fonts.googleapis.com/css?family=Baloo');

body {
  font-size: 20px;
  font-family: 'Arima Madurai', cursive;
  color: #222;
  color: rgba(1,66,88,1);
}

h1, h2 {
  font-size: 40px;
  font-family: 'Baloo', cursive;
  color: rgba(63,144,145,0.5);
}

header {
  height: auto;
  width:  auto;
  background-color: rgba(40,93,93,0.2);
}

nav {
  height: auto;
  width:  auto;
  background-color: rgba(40,93,93,0.2);
}

#skills {
    height: auto;
    width:  auto;
    background-color: rgba(40,93,93,0.2);
    margin: 20px 10px 20px 10px;
  }

#volunteer_experience {
  height: auto;
  width:  auto;
  background-color: rgba(40,93,93,0.2);
  margin: 20px 10px 20px 10px;
}

a:hover {
  color: rgb(246,87,55);
}

a:link {
  color: rgb(244,172,254);
}

a:visited {
  color: rgb(229,155,255);
}
