@import url('https://fonts.googleapis.com/css?family=Arima+Madurai');

@import url('https://fonts.googleapis.com/css?family=Baloo');

body {
  font-size: 20px;
  font-family: 'Arima Madurai', cursive;
  color: rgba(1,66,88,1);
}

h1, h2 {
  font-size: 40px;
  font-family: 'Baloo', cursive;
  color: rgb(104,194,198);
  margin: 0;
}

header {
  height: auto;
  width:  auto;
  margin: 0;
}

nav {
  margin: 0;
}

#container {
  max-width: 960px;
  margin: 0;
}

a {
  color: rgb(101,178,131);
}

a:visited {
  color: rgb(110,180,192);
}

a:hover {
  color: rgb(52,125,189);
}

a:active {
  color: rgb(86,84,149);
}

p {
  margin: 0;
}

h3 {
  margin: 0;
}

.stay_close {
  margin-top: 0px;
}

.need_space {
  margin-bottom: 20px;
}

#move {
  border: 2px solid rgb(66,152,152);
  position: relative;
  top: 10px;
  left: 0;
}

#space {
  margin-right: 15px;
}
