@import url('https://fonts.googleapis.com/css?family=Inconsolata');

@import url('https://fonts.googleapis.com/css?family=Righteous');

body {
  font-size: 20pt;
  font-family: 'Inconsolata', monospace;
  color: green;
  background: url('../images/washi.png');
}

h1 {
  font-size: 50pt;
  font-family:'Righteous', cursive;
  margin: 0;
  padding-bottom: 20px;
}

 h2 {
   font-size: 30pt;
   font-family:'Righteous', cursive;
   margin: 0;
   padding-bottom: 20px;
   padding-top: 20px;
 }

 h3 {
   padding-top: 20px;
 }

header {
  height: auto;
  width:  auto;
  margin: 0;
}

nav ul {
  margin: 0;
  list-style: none;
  padding-left: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a:visited {
  color: black;
}

nav a {
  color: rgb(195,191,66);
}

nav a:hover {
  color: grey;
}

nav a:active {
  color: green;
}

p {
  margin-top: 10px;
  padding-bottom: 20px;
}

h3 {
  margin: 0;
}

#move {
  border: 1mm solid rgb(195,191,66);
  position: relative;
  top: 2mm;
  left: 0;
}

#coffee {
  margin-top: 60px;
  padding-bottom: 70px;
}

#container {
  width: 960px;
}

#brazil {
  background-position: right top;
  color: green;
}

.align {

}

#size {
  margin-top: 10px;
  float: left;
  padding-right: 10px;
}

.video {
  margin-top: 80px;
}

#phone {
  float: left;
  margin-top: 10px;
}

#contact {
  margin-top: 30px;
}

#sailor_mars {
  margin-top: 10px;
}

#flag {
  margin-top: 10px;
  float: right;
}

#footer {
  margin-top: 30px;
}
